<div class="container offset-1">
<input type="hidden" name="PMId" [value]="service.fromData.PMId">
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
                <input class="form-control" name="CardOwnerName" placeholder="Card owner name" #CardOwnerName="ngModel"
                    [(ngModel)]="service.fromData.CardOwnerName" required>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fal fa-user"></i>
                    </div>
                </div>
                <input class="form-control" name="CardNumber" placeholder="16 Digit Card number" #CardNumber="ngModel"
                    [(ngModel)]="service.fromData.CardNumber" required maxlength="16" minlength="6">
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-7">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-calendar-check"></i>
                        </div>
                    </div>
                    <input class="form-control" name="ExpirationDate" placeholder="MM/YY" #ExpirationDate="ngModel"
                        [(ngModel)]="service.fromData.ExpirationDate" required maxlength="5" minlength="5">
                </div>

            </div>

            <div class="form-group col-md-5">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-lock"></i>
                        </div>
                    </div>
                    <input type="password" class="form-control" name="CVV" placeholder="CVV" #CVV="ngModel"
                        [(ngModel)]="service.fromData.CVV" required maxlength="3" minlength="3">
                </div>

            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-save"></i>Submit</button>
        </div>
    </form>
</div>