/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invaild{
    border-color: red;
}

input.ng-valid{
    border-color: green;
}

#toast-container>div{
    opacity: 1;
}

table >tr{
    font-size: medium;
    color:black;
}