<div class="container offset-1 col-7">
<table class="table table-hover">
    <tr>
        <th>Card owner name</th>
        <th>Card number</th>
        <th>Expiration Date</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let pd of service.list">
        <td >{{pd.cardOwnerName}}</td>
        <td >{{pd.cardNumber}}</td>
        <td >{{pd.expirationDate}}</td>
        <td>
            <button class="btn btn-link" type="submit"   (click)="populateForm(pd.pmId)"><i class="fas fa-edit fa-lg" ></i></button> 
            <button class="btn btn-link" type="submit" (click)="onDelete(pd.pmId)"><i class="far fa-trash-alt fa-lg text-danger"></i></button>
        </td>
    </tr>
</table>
</div>

